@import "./breakpoints.scss";
@import "./variables.scss";

.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("../../public/assets/login.jpg") center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  &_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    width: 40%;
    border-radius: 20px;
    @include lg {
      width: 60%;
    }
    @include mm {
      width: 80%;
    }
    &_form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      input {
        width: 100%;
        padding: 7px 15px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        text-align: center;
        color: white;
        input:not(:placeholder-shown):focus {
          background: transparent; /* or background: none; */
        }

        &::placeholder {
          color: white;
        }
      }
      button {
        margin-top: 15px;
        @include buttonStyle;
        width: 50%;
        &:hover {
          box-shadow: 0 0 10px 3px rgba(255, 255, 255);
        }
      }
    }
    a {
      text-decoration: none;
      color: white;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
