@import "./variables.module.scss";
@import "./breakpoints.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: orange;
  padding: 10px 60px;
  position: relative;
  @include sm {
    padding: 10px 20px;
  }
  img {
    width: 100px;
    cursor: pointer;
  }
  &_search {
    border: 1px solid $grey;
    height: 50px;
    padding: 0px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 40px;
    input {
      border: none;
      outline: none;
    }
    &:hover {
      @include shadow;
    }
    @include lg {
      display: none;
    }
  }
  &_right {
    display: flex;
    align-items: center;
    gap: 20px;
    .host {
      text-decoration: none;
      font-weight: 700;
      color: $blue;
      cursor: pointer;
      &:hover {
        color: $pinkred;
      }
      @include sm {
        display: none;
      }
    }
    &_account {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 50px;
      padding: 0px 10px;
      border: 1px solid $grey;
      border-radius: 30px;
      background-color: white;
      cursor: pointer;
      &:hover {
        @include shadow;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    &_accountmenu {
      position: absolute;
      //   background-color: white;
      top: 80px;
      right: 60px;
      display: flex;
      flex-direction: column;
      border: 1px solid $lightgrey;
      width: 200px;
      padding: 10px 0px;
      border-radius: 20px;
      @include shadow;
      z-index: 99999;
      @include sm {
        right: 20px;
      }
      a {
        width: 100%;
        color: $blue;
        padding: 8px 15px;
        text-decoration: none;
        font-weight: 700;

        &:hover {
          color: $pinkred;
          background-color: rgba(217, 213, 213, 0.2);
        }
      }
    }
  }
}
